:root {
  --cubeWidth: 300px;
  --cubeHeight: 150px;
  --cubeWidthMobile: 230px;
  --cubeHeightMobile: 115px;
}


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scene {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.scene__background--image{
  transition: 2s all;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube {
  position: relative;
  height: var(--cubeHeight);
  width: var(--cubeWidth);
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cubeWidth) / -2)) rotateY(0deg);
}


.cube__face {
  top: 0; left: 0;
  position: absolute;
  transform-origin: center;
  height: var(--cubeHeight);
  width: var(--cubeWidth);
  background: purple;
  backface-visibility: hidden;
  overflow: hidden;
}

.cube1 .cube__face img {
  position: absolute;
  top: 0px; 
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--cubeHeight) * 3);
}
.cube2 .cube__face img {
  position: absolute;
  top: calc(var(--cubeHeight) * -1); 
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--cubeHeight) * 3);
}
.cube3 .cube__face img {
  position: absolute;
  top: calc(var(--cubeHeight) * -2); 
  left: 50%;
  transform: translateX(-50%);
  height: calc(var(--cubeHeight) * 3);
}

.cube__face--front { transform: rotateY(0deg) translateZ(calc(var(--cubeWidth) / 2)); }
.cube__face--back { transform: rotateY(180deg) translateZ(calc(var(--cubeWidth) / 2)); }
.cube__face--right { transform: rotateY(90deg) translateZ(calc(var(--cubeWidth) / 2)); }
.cube__face--left { transform: rotateY(-90deg) translateZ(calc(var(--cubeWidth) / 2)); }


.cube1 .cube__face--front { background: red; }
.cube1 .cube__face--back { background: blue; }
.cube1 .cube__face--right { background: green; }
.cube1 .cube__face--left { background: yellow; }

.cube2 .cube__face--front { background: red; }
.cube2 .cube__face--back { background: blue; }
.cube2 .cube__face--right { background: green; }
.cube2 .cube__face--left { background: yellow; }

.cube3 .cube__face--front { background: red; }
.cube3 .cube__face--back { background: blue; }
.cube3 .cube__face--right { background: green; }
.cube3 .cube__face--left { background: yellow; }



.scene .button__prev {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.scene .button__next {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 400px) {
  :root {
    --cubeWidth: var(--cubeWidthMobile);
    --cubeHeight: var(--cubeHeightMobile);
  }
}


